* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

.main-addTask_page {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 96px;
  width: 448px;
  height: 928px;
  padding: 64px 24px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  overflow: visible;
}

.task-title-addTask_page {
  font-size: 22px;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  padding: 12px;
  width: 100%;
  height: 64;
}

.task-title-addTask_page::placeholder {
  color: #bfbfbf;
  opacity: 1;
}

.section-heading-addTask_page {
  font-size: 18px;
  margin-bottom: 8px;
  color: #42526e;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
}

.task-input-addTask_page {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.task-input-addTask_page,
.label-addTask_page {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.task-description-addTask_page {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding-top: 18px;
  padding-left: 16px;
  font-size: 19px;
  background-color: white;
  width: 100%;
  height: 103px;
  resize: vertical;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
}

.task-title-addTask_page::placeholder,
.task-description-addTask_page::placeholder,
.task-subtask-addTask_page::placeholder,
.task-date-addTask_page::placeholder {
  color: #bfbfbf;
  opacity: 1;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 120%;
  font-family: "Open Sans", sans-serif;
}

.task-title-addTask_page::placeholder {
  font-size: 32px;
}

.task-date-addTask_page,
.task-select-addTask_page,
.task-subtask-addTask_page {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0;
  padding: 12px;
  font-size: 19px;
  background-color: white;
}

.date-input-wrapper-addTask_page {
  position: relative;
  display: inline-block;
  width: 100%;
}

.date-field-addTask_page {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d1d1d1;
  background-color: white;
}

.task-date-addTask_page {
  border: none;
  outline: none;
  flex: 1;
  padding: 12px;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
}

.event-icon-addTask_page {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  cursor: pointer;
}

.task-select-addTask_page {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0;
  padding: 12px;
  font-size: 19px;
  background-color: white;
  appearance: none;
  background-image: url("./icons_addTask/separatedAddTaskIcons/arrow_drop_down.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
}

.task-select-addTask_page option {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: white;
}

.task-select-addTask_page:focus,
.task-select-addTask_page:active,
.task-select-addTask_page:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px solid #d1d1d1; 
}

.priority-group-addTask_page {
  display: flex;
  gap: 12px;
}

.priority-btn-medium-addTask_page,
.priority-btn-urgent-addTask_page,
.priority-btn-low-addTask_page {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.priority-btn-medium-addTask_page {
  background-color: #ffa800;
  color: white;
}

.priority-btn-addTask_page:hover {
  background-color: #e6e6e6;
}
.priority-btn-urgent-addTask_page:hover {
  border-bottom: 3px solid #ff3d00;
}

.priority-btn-low-addTask_page:hover {
  border-bottom: 3px solid #00c853;
}

/* === ASSIGN SECTION === */

.assign-select-addTask_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  padding: 12px;
  font-size: 19px;
  background-color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.assign-placeholder-addTask_page {
  color: #bfbfbf;
}

.assign-arrow-addTask_page {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

/* DROPDOWN */
.assign-dropdown-addTask_page {
  display: none;
  width: 100%;
  margin-top: 4px;
  background-color: #ffffff;
  color: #42526e;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  max-height: 200px;
  overflow-y: auto;
}

.assign-item-addTask_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 12px;
  cursor: pointer;
  padding-right: 50px;
}

.assign-item-addTask_page:hover {
  background-color: #f5f7ff;
}

/* Avatar-Kreis */
.assign-avatar-addTask_page {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
}

/* Name */
.assign-name-addTask_page {
  flex: 1;
  font-size: 16px;
  color: #42526e;
}

/* Checkmark */
.assign-check-addTask_page {
  width: 15px;
  height: 15px;
  visibility: visible;
  cursor: pointer;

}

.assign-item-addTask_page.selected .assign-check-addTask_page {
  visibility: visible;
}

.subtask-delete-addTask_page {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.subtask-check-addTask_page {
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(36%) sepia(97%) saturate(3127%) hue-rotate(202deg) brightness(97%) contrast(101%);
}

.addTask-icons-addTask_page {
  align-items: center;
  padding-left: 10px;
}

.task-buttons-addTask_page {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.btn-clear-addTask_page,
.btn-done-addTask_page {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-clear-addTask_page {
  background-color: white;
  color: #758195;
  border: 1px solid #d1d1d1;
  margin-bottom: 40px;
  margin-right: 10px;
}

.btn-done-addTask_page {
  background-color: #4589ff;
  color: white;
  margin-bottom: 40px;
}

.check-icon-addTask_page {
  width: 1em;
  height: 1em;
  margin-left: 8px;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}

.subtask-wrapper-addTask_page {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.task-subtask-addTask_page {
  flex: 1;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  padding: 12px;
  padding-right: 80px; 
  font-size: 19px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.subtask-icons-addTask_page {
  display: flex;
  align-items: center;
  position: absolute;
  right: 16px;
  gap: 6px;
  color: #4589ff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.subtask-divider-addTask_page {
  width: 1px;
  height: 20px;
  background-color: #4589ff;
}

.subtask-delete-addTask_page:hover,
.subtask-check-addTask_page:hover {
  opacity: 0.8;
}

.subtask-icons-addTask_page {
  display: none;
}

.task-subtask-addTask_page:not(:placeholder-shown) + .subtask-icons-addTask_page {
  display: flex;
}

