@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

.h1-technical-task {
  font-weight: 700;
  font-size: 48px;
  font-style: bold;
  line-height: 120%;
  letter-spacing: 0%;
}

.main-container-technical-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "open sans";
  width: 528px;
  height: 872px;
  border-radius: 30px;
  gap: 24px;

  overflow: hidden;
  overflow-y: auto;

  background-color: aquamarine;
}

.head-bar-technical-task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 448px;
  height: 36px;

  background-color: white;
}

.head-sign-technical-task {
  display: flex;
  align-items: center;

  width: 110px;
  height: 27px;
  border-radius: 8px;

  padding: 4px 24px 4px 24px;
  gap: 10px;

  color: white;
  background-color: #0038ff;
}

.headline-container-technical-task {
  width: 448px;
  height: 219px;
}

.describtion-conatainer-technical-task{
  width: 448px;
  height: 28px;
  left: 0px;
}

.description-font-technical-task{
  font-size: 19px;
}

.date-container-technical-task {
  width: 448px;
  height: 25;
  gap: 25px;
}

.status-font-technical-task {
  font-size: 21px;
  font-weight: 700;
  font-style: bold;
  line-height: 120%;
  letter-spacing: 0%;

  color: #42526e;
}

.date-font-technical-task {
  font-size: 19px;
  font-weight: 400;
  font-style: regular;
  line-height: 120%;
  letter-spacing: 0%;
}

.priority-container-technical-task {
  display: flex;
  align-items: center;

  width: 448px;
  height: 31;
  gap: 25px;
}

.actual-priority-container-technical-task {
  display: flex;
  align-items: center;

  width: 125px;
  height: 31px;
  border-radius: 10px;
  padding: 4px 18px 4px 18px;
  gap: 10px;
}

.assigned-to-container-technical-task {
  display: flex;
  flex-direction: column;

  width: 448px;
  height: 149px;
  gap: 8px;
}

.name-letter-ball-technical-task {
  width: 42px;
  height: 42px;
  border-radius: 40px;

  background-color: #00bee8;
}

.name-letter-ball-font-technical-task {
  font-size: 12px;
  font-weight: 700;
  font-style: regular;
  line-height: 120%;
  letter-spacing: 0%;
  color: white;
}

.name-letter-ball-font-position-technical-task {
    display: block;
    position: relative;
    width: 28px;
    height: 10px;
    top: 14px;
    left: 12px;
}

.user-container-technical-task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 448px;
  height: 56px;
  border-radius: 10px;
  padding: 7px 16px 7px 16px;
}

.user-badge-and-name{
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 216px;
  height: 42px;
}

.subtasks-container-technical-task {
  display: flex;
  flex-direction: column;

  width: 448px;
  height: 68px;
  gap: 4px;
}

.subtasks-task-container-technical-task {
  display: flex;
  align-items: center;


  padding: 6px 16px 6px 16px;
  gap: 16px;
}

.check-box-technical-task {
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
}

.delete-edit-section-technical-task{
  width: 448px;
  display: flex;
  justify-content: end;
}

.delete-edit-container-technical-task {
  display: flex;
  width: 158px;
  height: 24px;
  gap: 8px;

}

.delete-button-technical-task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 81px;
  height: 24px;
}

.edit-button-technical-task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 61px;
  height: 24px;
}