.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.turquoise{
    background-color: turquoise;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: hotpink;
}


.brown{
    background-color: brown;
}

.black{
    background-color: black;
}