.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.purple{
    background-color: purple;
}

.turquoise{
    background-color: turquoise;
}

.orange{
    background-color: orange;
}

.lime{
    background-color: lime;
}

.pink{
    background-color: pink;
}