.main-container-contacts{
    display: flex;
}

.position-relative-overflow-x{
    position: relative;
    overflow-x: hidden;
}

.separator{
    display: flex;
    height: 1px;
    background-color: grey;
    border: none;
}

.d_none{
    display: none;
}

.display-flex-center-xy{
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-flex-center-x{
    display: flex;
    align-items: center;
}

.padding-medium-up-down-contacts{
    padding: 24px 0px 24px 0px;
}

.font-size-24{
    font-size: 24px;
    font-weight: lighter;
}

.padding-small-contacts{
    padding: 12px;
}

.padding-small-left-right-contacts{
    padding: 0px 12px 0px 12px;
}

.padding-bottom-contacts{
    padding-bottom: 5px;
}

.padding-left-contacts{
    padding-left: 12px;
}

.img-contact{
    width: 36px;
    height: 25px;
    margin-left: 13px;
    object-fit: cover;
}

.maincontent{
    color :black;
    padding: 32px 24px 32px 24px;
    border-right: solid 2px grey;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 96px);
}

.contact-container{
    padding: 24px 10px 0px 10px;
}

.button-contacts-position{
    padding: 32px 24px 16px 32px;
}

.button-contacts{
    border: 0;
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    background: #4589FF;
    transition: 0.2s; 
    text-align: left;
    width: 100%;
    color: white;
    font-size: 18px;
}

.single-contact{
    padding: 5px 10px 5px 15px;
    border-radius: 5px;
    margin-top: 5px;
}

.single-contact-hover:hover{
    cursor: pointer;
    background-color: #D2E3FF;
}

.contacts-logo{
    width: 48px;              
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 2px #ffff;
    margin: 15px 0 15px 0;
}

.name-property{
    font-size: 24px;
}

.mail-property{
    font-size: 18px;
    color: #4589FF;
}

.white-screen {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.445);
  height: 100vh;
  width: 100%;
}

.button-contacts:hover {
   background: #005DFF;
   transition: 0.1s;
}

.backgroundcolor-blue{
    background-color: #4589FF;
}

.cursor-pointer{
    cursor: pointer;
}

.font-color-white{
    color: white;
}

.d_none {
  display: none;
}