header {
  background-color: #4589ff;
  height: 96px;
  padding: 20px 39px 20px 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky ;
  top: 0 ;
  z-index: 1100 ;
}

.header-right-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 433px;
  height: 56px;
}

.join-logo-header-img {
  filter: brightness(4);
  width: 46px;
  height: 56px;
  object-fit: cover;
}

.guest-logo-header {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4589ff;
  background-color: white;
  font-size: 29px;
  border-radius: 50%;
  border: 3px solid #4589ff;
  box-shadow: 0 0 0 2px #ffff;
}

.guest-logo-header:hover {
  background-color: rgba(255, 255, 255, 0.88);
  cursor: pointer;
}

.img-headbar {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.img-headbar:hover {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.header-font {
  font-size: 19px;
  font-weight: 400;

  line-height: 120%;
  letter-spacing: 0%;
  color: white;
  font-family: "Open Sans", Arial, sans-serif;
}

.g-unit {
  font-weight: 500;
  color: #005dff;
  font-family: "Open Sans", Arial, sans-serif;
}

.user-menu-container-header {
  position: fixed;
  top: 96px !important;
  right: 24px;
  z-index: 2000 ;
}

.user-menu-content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 135px;
  width: 181px;
  padding: 11px 8px 11px 8px;
  gap: 4px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #e5e9f0;
  box-shadow:
    0 6px 18px rgba(0, 0, 0, 0.12),
    0 14px 38px rgba(0, 0, 0, 0.16);
}

.d_none {
  display: none;
}
.guest-mode #header-help-link,
.guest-mode .guest-logo-header {
  display: none !important;
}

.guest-mode .sidebar-high-section-container {
    display: none !important;
}

.guest-mode .side-menu {
    justify-content: flex-start; 
}

.guest-mode .sidebar-low-section-container {
    margin-top: auto;             
}
.login-link { display:none; }
.guest-mode .login-link { display:inline-flex; }



body:not(.guest-mode) .login-link {
  display: none !important;
}

body.guest-mode .login-link {
  display: inline-flex !important;
}