@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.what_is_join {
  max-width: 740px;
  padding: 32px 20px 64px;
  margin: 0 auto;
}

h1 {
  font-size: 61px;
  line-height: 1.1;
}

.welcome {
  margin-bottom: 28px;
}

h2 {
  font-size: 28px;
  color: #3f78ff;
  margin-top: 28px;
  margin-bottom: 15px;
}

::marker{
    color: #3f78ff;
    font-weight: 700;
    font-size: 33px;
    margin-right: 8px;
}
strong{
    color: #3f78ff;
    font-weight: normal;
}


p {
  margin: 0 0 16px;
}

ol.steps {
  counter-reset: step;
  margin: 8px 0 24px;
}

ol.steps li {
  grid-template-columns: 44px 1fr;
  align-items: start;
  gap: 14px;
  padding-left: 19px; 
}

ol.steps li:last-child {
  border-bottom: none;
}


.steps h3 {
  margin: 2px 0px;
  font-size: 20px;
  font-weight: 800;
  color: #3f78ff;

}

.Remember {
  margin-top: 8px;
}

.help {
  margin-top: 18px;
}

a {
  color: #3f78ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
