 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }


.page {
  font-family: "Open Sans", Arial, sans-serif;
  max-width: 960px;
  margin: 0 auto;
  padding: 64px 20px 80px;
  height: calc(100vh - 96px);
  overflow-y: auto; 
  overflow-x: hidden;
}

ul {
  margin-bottom: 12px;
  padding-left: 28px;
}


::marker{
    color: black;
    font-size: 20px;
}

.h2_legal{
    margin: 0;
    font-size: 33px;
}
.h3_legal{
    margin: 0;
    font-size: 20px;
    color: #3f78ff;
}

.page {
  scrollbar-width: none;     
  -ms-overflow-style: none;  
}

.page::-webkit-scrollbar {   
  display: none;
}