* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0 auto;
  height: calc(100vh - 96px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 80%;
  padding-left: 80px;
  padding-top: 60px;
}

.ul_legal {
  margin-bottom: 12px;
  padding-left: 28px;
}

::marker {
  color: black;
  font-size: 20px;
}

.h2_legal {
  margin: 0;
  font-size: 33px;
}

.h3_legal {
  margin: 0;
  font-size: 20px;
  color: #3f78ff;
}

.page {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.page::-webkit-scrollbar {
  display: none;
}
