* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}



.privacy-policy {
  font-family: "Open Sans", Arial, sans-serif;
  width: 85%;
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 96px);
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 85%;
  padding-left: 20px;
  padding-top: 93px;
}

.privacy-policy .h1_privacy_policy {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.1;
}

.privacy-policy .h2_privacy_policy {
  color: #3f78ff;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 7px;
}

.privacy-policy .p_privacy_policy,
.privacy-policy .li_privacy_policy {
  font-size: 16px;
  margin-bottom: 16px;
}

.privacy-policy .ul_privacy_policy {
  margin-left: 20px;
  margin-bottom: 20px;
}

.a_email_privacy {
  color: #3f78ff;
  text-decoration: none;
}

.a_email_privacy:hover {
  text-decoration: underline;
}
