 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      line-height: 1.6;
    }

    .privacy-policy {
      font-family: "Open Sans", Arial, sans-serif;
      width: 85%;
      margin: 0 auto;
      padding: 64px 20px 80px;

      overflow: hidden;
      overflow-y: auto;
      height: calc(100vh - 96px);
       scrollbar-width: none;     
      -ms-overflow-style: none;  
    }

    .privacy-policy h1 {
      font-size: 61px;
      font-weight: 700;
      margin-bottom: 40px;
      line-height: 1.1;
    }

    .privacy-policy h2 {
      font-size: 28px;
      color: #3f78ff;
      font-weight: 700;
      margin-top: 40px;
      margin-bottom: 12px;
    }

    .privacy-policy p,
    .privacy-policy li {
      font-size: 16px;
      margin-bottom: 16px;
    }

    .privacy-policy ul {
      margin-left: 20px;
      margin-bottom: 20px;
    }

    a {
      color: #3f78ff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }