.padding-up-down-small{
    padding: 12px 0px 12px 0px;
}

.margin-left-right-small{
    padding: 0 12px 0 12px;
}

.side-header{
    color: #42526E;
    width: 213px;
    border-right: solid #afafafad 2px;

    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-header-low-section{
    display: flex;
    flex-direction: column;
}

.side-header-low-section-font{
    text-decoration: none;
    color: #42526E;
}


.button-sidebar{
    border: 0;
    border-radius: 10px;
    padding: 18px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    background: white;
    transition: 0.2s;
    
    text-align: left;
    padding-left: 43px;
    width: 100%;


    color: #2A3647;
    font-size: 18px;
}


.button-sidebar:hover {
    background: #D2E3FF
}

.img-size-sidebar{
    width: 15px;
    height: 19px;
    margin-right: 10px;
    object-fit: cover;
}

