.padding-up-down-small{
    padding: 12px 0px 12px 0px;
}

.margin-left-right-small{
    padding: 0 12px 0 12px;
}

.side-menu{
    color: #42526E;
    width: 232px;
    height: calc(100vh - 96px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
    padding-top: 66px;
    padding-bottom: 66px;
    gap: 235px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-high-section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 205px;
    width: 186px;
    gap: 15px;
}

.sidebar-low-section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 186px;
    gap: 15px;
} 

.sidebar-font{
    text-decoration: none;
    font-size: 16px;
    color: #42526E;
    font-family: "Open Sans", Arial, sans-serif;
}

.button-sidebar{
    border: 0;
    border-radius: 8px;
    padding: 8px 30px 8px 30px;
    gap: 8px;
    text-align: left;
    width: 100%;
    display: flex;         
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    text-decoration: none;
    background: white;
    transition: 0.2s;
}

.button-sidebar:hover {
    background: #D2E3FF
}

.img-size-sidebar{
    width: 24px;
    height: 24px;
}

