

.urgent-task-card-summary:hover{
    cursor: pointer;
    background-color: white;
    color: #4589FF;
    padding: 22px 38px 22px 38px;
    width: 698px;
    height: 108%;
    border-top-left-radius: 0;
}


.urgent-task-card-summary:hover .seperator-summary{
    background-color: #0038FF;
}


.urgent-task-card-summary:hover .date-font-summary{
    font-size: 46px;
}


.urgent-task-card-summary:hover .h2-font-summray{
    font-size: 52px;    
}


.urgent-task-card-summary:hover .card-font-a-urgent-task-summary{
    font-size: 24px;

}


.urgent-task-card-summary:hover .img-summary{
    width: 82px;
    height: 82px;
}


/*===========================================================================================================
                                      Tasks on Board
===========================================================================================================*/

.tasks-on-board-card-summary:hover{
    height: 108%;
    width: 288px;
    cursor: pointer;
    background-color: #0038FF;
    color: white;
    border-top-left-radius: 0;

}

.tasks-on-board-card-summary:hover .h2-font-summray{
    font-size: 52px;    
}

.tasks-on-board-card-summary:hover .card-font-a-summary{
    font-size: 24px;
    color: white;
}

.tasks-on-board-card-summary:hover .img-summary{
    width: 82px;
    height: 82px;
}

/*===========================================================================================================
                                      Todo
===========================================================================================================*/

.backgroundcolor-blue-light:hover{
    width: 290px;
    border-top-left-radius: 0;
    cursor: pointer;
}

.backgroundcolor-blue-light:hover{
    background-color: white;
}

.backgroundcolor-blue-light:hover .h2-font-summray{
    font-size: 52px;  
    color:#0038FF;  
}

.backgroundcolor-blue-light:hover .card-font-a-summary{
    font-size: 24px;
    color:#0038FF;  
}

.backgroundcolor-blue-light:hover .img-summary{
    width: 82px;
    height: 82px;
}

/*===========================================================================================================
                                      The last Three
===========================================================================================================*/

.summary-card-the-last-three:hover {
    width: 240px;
    height: 259px;
    background-color: #0038FF;
    color: white;
    border-top-left-radius: 0;
    cursor: pointer;
}

.summary-card-the-last-three:hover .h2-font-summray{
    font-size: 52px;  
}

.summary-card-the-last-three:hover .card-font-a-summary{
    font-size: 24px;
    color: white;
}


.summary-card-the-last-three:hover .img-summary{
    width: 82px;
    height: 82px;
}




