.urgent-task-card-summary:hover {
  cursor: pointer;
  background-color: #5c9cff;
  color: white;
  box-shadow: 0 10px 30px -18px #2a3647;
  transform: translateY(-2px);
}

.urgent-task-card-summary:hover .seperator-summary {
  background-color: #0038ff;
}


.tasks-on-board-card-summary:hover {
  height: 108%;
  width: 288px;
  cursor: pointer;
  background-color: #0038ff;
  color: white;
  border-top-left-radius: 0;
}


.backgroundcolor-blue-light:hover {
  width: 290px;
  border-top-left-radius: 0;
  cursor: pointer;
}

.backgroundcolor-blue-light:hover {
  background-color: white;
}

.summary-card-the-last-three:hover {
  width: 240px;
  height: 259px;
  background-color: #0038ff;
  color: white;
  border-top-left-radius: 0;
  cursor: pointer;
}
