* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: sans-serif;
  font-family: "open sans";
}

.transition-08s {
  transition: 0.8s;
}

.summary-content-container {
  width: 912px;
  height: 442px;
}

.h1-container-summary {
  height: 77px;
  gap: 22px;
}

.summary-h1-font-guest {
  font-size: 64px;
  font-style: bold;
  font-weight: 700px;
}

.summary-h2-font-user {
  font-size: 64px;
  font-weight: 5;
}

.summary-h1-font-user {
  font-size: 64px;
  font-style: bold;
  font-weight: 700px;
  color: #4589ff;
}

.h2-font-summray {
  font-size: 48px;
}

.date-font-summary {
  font-size: 33px;
}

.card-font-a-summary {
  color: #4589ff;
  font-size: 23px;
  display: block;
  text-align: center;
}

.img-summary {
  width: 76px;
  height: 76px;
  object-fit: cover;
}

.padding-small {
  padding: 12px;
}

.padding-left-right-small {
  padding: 0 12px 0 12px;
}

.padding-up-down-small {
  padding: 12px 0px 12px 0px;
}

.margin-big {
  margin: 48px;
}

.backgroundcolor-blue {
  background-color: #4589ff;
}

.backgroundcolor-blue-light {
  background-color: #d2e3ff;
}

.row-maker {
  display: flex;
  flex-direction: row;
}

.padding-card {
  padding: 20px;
}

.display-flex-center-y {
  display: flex;
  align-items: center;
}

.main-content {
  color: #2a3647;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 912px;
  height: 591px;
  top: 265px;
  left: 380px;
  gap: 72px;
}

.summary-card {
  border: solid #afafafad 2px;
  border-radius: 20px;
  margin: 15px;
}

.summary-card-high-section-summary {
  height: 100%;
}

.urgent-task-card-summary {
  width: 672px;
  padding: 28px 48px 28px 48px;
  gap: 35px;
  color: white;
}

.card-font-a-urgent-task-summary {
  font-size: 23px;
  display: block;
  text-align: center;
}

.seperator-summary {
  width: 2px;
  background-color: white;
}

.date-container-summary {
  text-align: left;
}

.text-align-left-summray {
  text-align: left;
}

.tasks-on-board-card-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 208px;
}

.summary-card-content-up-right {
  width: 124px;
  height: 139px;
  gap: 7px;
}

.summary-cards-low-section {
  width: 204px;
  height: 219px;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.summary-card-the-last-three {
  background-color: white;
}

.summary-section-1-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 191px;
}

.summary-section-2-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.img-count-container-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
