*{
    margin: 0;

}

body{
    color: white;
    font-family: sans-serif;
}

h1{
    font-size: 80px;
}

.img-summary{
    width: 43px;
    height: 51px;
    margin-right: 10px;
    object-fit: cover;
}

.padding-small{
    padding: 12px;
}

.padding-right-small{
    padding: 0 12px 0 0;
}

.padding-left-right-small{
    padding: 0 12px 0 12px;
}

.padding-up-down-small{
    padding: 12px 0px 12px 0px;
}

.margin-big{
    margin: 48px;
}

.backgroundcolor-blue{
    background-color: #4589FF;
}

.backgroundcolor-blue-light{
    background-color: #D2E3FF;
}

.font-color-white{
    color: white;
}

.font-color-blue{
    color: #4589FF;
}

.seperator{
    width: 2px;
    height: 176px;
    background-color: white;
    margin: 10px 12px 0 12px;
}

.row-maker{
    display: flex;
    flex-direction: row;
}

.padding-card{
    padding: 50px;
}

.display-flex{
    display: flex;
    align-items: center;
}

.main-container{
    display: flex;
    height: calc(100vh - 127px);
}

.main-content{
    color: #2A3647;
    
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-card{
    border: solid #afafafad 2px;
    border-radius: 20px;
    margin: 15px;
}

.summary-section-1-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.summary-section-2-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




