* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/img/open_sans/static/OpenSans-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

.body {
  width: 525px;
  height: 932px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 528px;
  height: 156px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  align-items: center;
}

.label_user_story {
  width: 160px;
  height: 36px;
  border-radius: 8px;
  background-color: #ff7a00;
  color: white;
  font-family: "open sans";
  font-weight: 400;
  line-height: 120%;
  font-size: 23px;
  padding: 4px 16px;
}

.title {
  font-family: "open sans";
  font-size: 61px;
  font-weight: 700;
  width: 528px;
  line-height: 120%;
  padding-left: 40px;
  padding-right: 40px;
}

h3 {
  font-family: "open sans";
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  width: 528px;
  height: 23px;
  padding: 40px;
  margin-bottom: 24px;
}

.close-btn {
  color: #4589ff;
  border: none;
  background-color: transparent;
  font-size: 32px;
}

main {
  position: absolute;
  width: 440px;
  height: 770px;
  padding-left: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  display: none;
}

.task-title {
  font-size: 22px;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  padding: 12px;
  width: 100%;
  height: 64;
}

.task-title::placeholder {
  color: #bfbfbf;
  opacity: 1;
}

.section-heading {
  font-size: 21px;
  margin-bottom: 8px;
  color: #42526e;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.task-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 24px;
}

.task-input label {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  font-family: "open sans";
  gap: 16px;
}

.task-input label,
.section-heading {
  margin-left: 0;
  margin-top: 0;
}

.task-input input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #4589ff;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  position: relative;
}

.task-input input[type="checkbox"]:checked {
  background-color: white;
  border-color: #4589ff;
}

.task-input input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -1px;
  width: 8px;
  height: 14px;
  border: solid #4589ff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.task-description {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding-top: 18px;
  padding-left: 16px;
  margin-bottom: 18px;
  font-size: 19px;
  background-color: white;
  width: 100%;
  height: 103px;
  resize: vertical;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 120%;
}

.task-title::placeholder,
.task-description::placeholder,
.task-subtask::placeholder,
.task-date::placeholder {
  color: #bfbfbf;
  opacity: 1;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 120%;
  font-family: "Open Sans", sans-serif;
}

.task-title::placeholder {
  font-size: 32px;
}

.task-date,
.task-select,
.task-subtask {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0;
  padding: 12px;
  font-size: 19px;
  background-color: white;
}

.date-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 24px;
}

.date-field {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d1d1d1;
  background-color: white;
}

.task-date-display {
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
}

.event-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  cursor: pointer;
}

.task-select {
  appearance: none;
  background-image: url("./icons_addTask/separatedAddTaskIcons/arrow_drop_down.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
}

.priority-row {
  display: flex;
  align-items: center; 
  gap: 30px; 
}

.priority-row .section-heading {
  margin-bottom: 0; 
}

.priority-btn-medium {
  background: none;
  color: black; 
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: default;
  font-size: 19px;
  font-family: "open sans";
}

.priority-btn:hover {
  background-color: #e6e6e6;
}

.addTask-icons {
  width: 17px;
  height: 7px;
  filter: brightness(0) saturate(100%) invert(54%) sepia(93%) saturate(2158%) hue-rotate(3deg) brightness(103%) contrast(103%);
}

.task-buttons {
  position: absolute;
  bottom: -350px;
  right: 15px;
}

.btn-done-wrapper {
  width: 440px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-done {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #4589ff;
  color: white;
  margin-bottom: 40px;
}


